<div class="row" ng-controller="NuevaFacturaCtrl" ng-cloak>
  <div class="row row-xs">
    <form name="form" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                <strong>Datos de la factura</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Número:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="nuevo.numero" disabled>
                    </div>
                    <label class="col-sm-2 control-label">Proforma:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="proforma.numero" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cliente:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Buscar el cliente" 
                        ng-model="proforma.cliente" disabled required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Lote:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Buscar el lote" 
                        ng-model="proforma.codigo" disabled required>
                    </div>
                    <label class="col-sm-2 control-label">Area Mt2:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Buscar el lote" 
                        ng-model="proforma.area" disabled required>
                    </div>
                    <label class="col-sm-1 control-label">Precio Mt2:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Buscar el lote" 
                        ng-model="proforma.precioM2" disabled required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripción:</label>
                    <div class="col-sm-10">
                        <div>
                            <div text-angular class="btn-groups" ng-model="nuevo.descripcion"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Precio total:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control text-right" placeholder="Precio total" 
                        ng-model="nuevo.precio" disabled required>
                    </div>
                    <label class="col-sm-2 checkbox ui-checks text-right">
                        <input type="checkbox" ng-model="nuevo.tieneDescuento" ng-change="calcularTotal()"><i></i> 10 % Dcto.:
                    </label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control text-right" placeholder="Descuento" 
                        ng-model="nuevo.descuento" disabled required>
                    </div>
                    <label class="col-sm-2 control-label">Sub Total:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control text-right" placeholder="Sub total" 
                        ng-model="nuevo.subTotal" disabled required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">IGV 18%:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control text-right" placeholder="IGV" 
                        ng-model="nuevo.igv" disabled required>
                    </div>
                    <label class="col-sm-2 control-label">Neto a pagar:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control text-right" placeholder="Neto a pagar" 
                        ng-model="nuevo.total" disabled required>
                    </div>
                </div>
            </div>
            <div class="panel-heading bg-white">
                <strong>Datos del Pago</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cuota Inicial:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control text-right" placeholder="Cuota inicial" 
                        ng-model="nuevo.inicial" required>
                    </div>
                    <label class="col-sm-2 control-label">Monto pendiente:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control text-right" placeholder="Cuota inicial" 
                        ng-model="nuevo.montoPendiente" disabled required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cuotas mensuales:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="mínimo 12 cuotas" ng-model="nuevo.cuotas" 
                        ui-validate=" '$value >= 12' " required>
                    </div>
                    <label class="col-sm-2 control-label">Interés anual %:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="Interés anual" step="0.01"
                        ng-model="nuevo.interesAnual" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cuota mensual:</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control text-right" ng-model="nuevo.cuotaMensual" ui-validate=" '$value > 0' " disabled required>
                    </div>
                    <button class="btn btn-info" ng-click="calcularCuota()">Calcular cuotas</button>
                </div>  
            </div>
            <footer class="panel-footer text-right">
                <button class="btn btn-info" ng-click="save()" ng-disabled="form.$invalid">Grabar</button>
            </footer>
        </div>
    </form>
  </div>
</div>