<div class="row" ng-controller="NuevaFacturaCtrl" ng-cloak>
  <div class="row row-xs">
    <form name="form" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading bg-white">
                <strong>Datos de la factura</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Número:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="nuevo.numero" disabled>
                    </div>
                    <label class="col-sm-2 control-label">Proforma:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" ng-model="proforma.numero" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Cliente:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Buscar el cliente" 
                        ng-model="proforma.cliente" disabled required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Lote:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" placeholder="Buscar el lote" 
                        ng-model="proforma.codigo" disabled required>
                    </div>
                    <label class="col-sm-2 control-label">Area:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Buscar el lote" 
                        ng-model="proforma.area" disabled required>
                    </div>
                    <label class="col-sm-1 control-label">Precio MT2:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Buscar el lote" 
                        ng-model="proforma.precioM2" disabled required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripción:</label>
                    <div class="col-sm-10">
                        <div>
                            <div text-angular class="btn-groups" ng-model="nuevo.descripcion"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading bg-white">
                <strong>Datos del Pago</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Precio total:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="Precio total" 
                        ng-model="proforma.precioTotal" disabled required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nro. Cuotas</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" placeholder="mínimo 12 cuotas" ng-model="nuevo.cuotas" ui-validate=" '$value >= 12' " required>
                    </div>
                    <label class="col-sm-3 checkbox ui-checks">
                        <input type="checkbox" ng-model="nuevo.descuento" required><i></i> 10 % Dcto.
                    </label>
                </div>               
            </div>
            <footer class="panel-footer text-right">
                <button class="btn btn-info" ng-click="save()" ng-disabled="form.$invalid">Grabar</button>
            </footer>
        </div>
    </form>
  </div>
</div>