<button class="btn btn-link" ui-sref="app.crearCliente">
  <span class="glyphicon glyphicon-plus"></span> Nuevo registro
  </button>
<div class="row" ng-controller="ClienteCtrl" ng-cloak>
  <div class="row row-xs">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          LISTADO DE CLIENTES
        </div>
        <table st-table="rowCollectionPage" st-safe-src="clientes" class="table table-striped">
          <thead>
            <tr>
              <th st-sort="name">Nombre</th>
              <th st-sort="position">Telefono</th>
              <th st-sort="position">Celular</th>
              <th st-sort="position">Email</th>
              <th></th>
            </tr>
            <tr>
              <th colspan="4">
                <input st-search placeholder="Búsqueda global" class="input-sm form-control" type="search"/>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in rowCollectionPage | filter: search">
              <td>{{row.apellidos | uppercase}}, {{row.nombres | uppercase}}</td>
              <td>{{row.telefono1}}</td>
              <td>{{row.celular1}}</td>
              <td>{{row.email1}}</td>
              <td style="width:10px;">
                <div layout-gt-xs="row">
                  <a ui-sref="app.editEmployee({id:row.id})" title="Editar usuario" style="padding-right:10px;"><i class="fa fa-edit i-20"></i></a>
                  <a ng-click="delete(row.id)" title="Eliminar usuario" style="padding-right:10px;"><i class="fa fa-trash-o i-20"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5" class="no-margin"></div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>