  <div class="row" ng-controller="DashboardCtrl">
    <div class="row row-xs">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Pendientes por evaluar
          </div>
          <table class="table table-striped m-b-none">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in listToEvaluate">
                <td>{{row.type | uppercase}}</td>
                <td>{{row.startDate | date :  "dd-MM-yyyy"}}</td>
                <td>{{row.endDate | date :  "dd-MM-yyyy"}}</td>
                <td>
                  <button ui-sref="app.evaluationevaluateds({id:row.id})" md-ink-ripple class="md-btn md-raised m-b btn-fw green-700">Evaluar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Mis evaluaciones
          </div>
          <table class="table table-striped m-b-none">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="eval in evaluationList">
                <td>{{eval.type | uppercase}}</td>
                <td>{{eval.startDate | date :  "dd-MM-yyyy"}}</td>
                <td>{{eval.endDate | date :  "dd-MM-yyyy"}}</td>
                <td>
                  <button ui-sref="app.selfEvaluation({id:eval.id})" 
                    md-ink-ripple class="md-btn md-raised green-700" title="Autoevaluación">Autoevaluar
                  </button>
                  <button ui-sref="app.evevaluator({id:eval.id})"
                    md-ink-ripple class="md-btn md-raised green-700" ng-if="eval.showToEvaluate=='1'"
                    title="Resultados">
                    <i class="glyphicon glyphicon-list-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row row-xs">
      <div class="col-sm-6" ng-if="userLoggued.profile=='ADMIN' || userLoggued.profile=='REV'">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="label bg-danger pull-right m-t-xs"><i class="fa fa-bar-chart-o"></i></span>
            Avances de evaluación
          </div>
          <table class="table table-striped m-b-none">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="row in evaluationActiveList">
                <td>
                  {{row.type | uppercase}}
                  <p class="text-sm text-muted">{{row.note}}</p>
                </td>
                <td>{{row.startDate | date :  "dd-MM-yyyy"}}</td>
                <td>{{row.endDate | date :  "dd-MM-yyyy"}}</td>
                <td>
                  <a ui-sref="app.progress({id:row.id})" title="Ver evaluados" style="padding-right:10px;"><i class="fa fa-users i-20"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
