<div class="row" ng-controller="EvaluationEvaluateCtrl" ng-init="showInstructions()" ng-cloak>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
      <div class="panel panel-card">
        <div class="item">
          <img ng-src="images/employee/{{evaluated.acronym | lowercase}}.jpg" class="w-full r-t" alt="{{evaluated.acronym}}">
          <div class="bottom text-white p">
            <h4>{{evaluated.name}}</h4>
          </div>
        </div>
        <div class="p">
          <p><strong>Cargo: </strong>{{evaluated.position}}</p>
          <p><strong>Área: </strong>{{evaluated.area}}</p>
          <p ><strong>Año: </strong>{{evaluated.year}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-9 col-lg-10">
      <!-- START TAB PANEL-->
      <tabset class="tab-container">
        <tab active="tabs[0].active">
          <tab-heading>
            <i class="fa fa-list-alt"></i> COMPETENCIAS
          </tab-heading>
          <div class="animated fadeIn">
            <div layout-gt-xs="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-2">
                    <button class="btn btn-xs btn-sm btn-addon deep-orange-500" ng-click="prev()">Anterior</button>
                  </div>
                  <div class="col-md-8 text-center">
                    <strong>{{criteriaSelected.name}}</strong>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-xs btn-sm btn-addon deep-orange-500" ng-click="next()">Siguiente</button>
                  </div>
                </div>             
              </div>
              <div class="col-md-6">
                <div flex-gt-sm>
                  <div class="progress" style="margin-left:50px;">
                    <div ng-class="{'progress-bar progress-bar-success':totalProgressType=='success',
                  'progress-bar progress-bar-warning':totalProgressType=='warning', 'progress-bar progress-bar-danger':totalProgressType=='danger'}" 
                  style="width:{{totalProgress}}%">{{totalProgress}}%</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-if="criteriaSelected.note">
              <div class="alert alert-warning text-center">{{criteriaSelected.note}}</div>
            </div>
            <!--EVALUATION QUESTION-->
            <div class="row">
              <table class="table">
                <tfoot>
                  <tr>
                    <td colspan="2" class="text-right">PROMEDIO DE LA COMPETENCIA:</td>
                    <td >{{average}}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-right">PROMEDIO TOTAL:</td>
                    <td >{{totalAverage}}</td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr ng-repeat="question in questionList | filter: {question_criteria:criteriaSelected.id}:true">
                    <td>
                      <div ng-class="{'md-list-item-left md-long-text circle grey-600':question.answer=='','md-list-item-left md-long-text circle green-600':question.answer!=''}">
                        <i ng-class="{'mdi-action-label i-24': question.answer=='','mdi-action-done i-24': question.answer!=''}"></i>
                      </div>
                    </td>
                    <td>{{question.question_description}}</td>
                    <td class="text-right" style="width:20px;">
                      <select ng-options="type.value as type.scale for type in options" ng-model="question.answer"
                      ng-change="evaluate(question)"/>                
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--END EVALUATION QUESTION-->
          </div>           
        </tab>
        <tab active="tabs[1].active">
          <tab-heading>
            <i class="fa fa-comment-o"></i> COMENTARIOS
          </tab-heading>
          <div class="animated fadeIn">
            <table class="table">
              <tbody>
                <tr ng-repeat="comment in commentList">
                  <td>
                    <div ng-class="{'md-list-item-left md-long-text circle grey-600':comment.response=='','md-list-item-left md-long-text circle green-600':comment.response!=''}">
                      <i class="mdi-editor-insert-comment i-24"></i>
                    </div>
                  </td>
                  <td>
                    <strong>{{comment.comment_description}}</strong>
                    <md-input-container class="md-block" ng-if="comment.response_type==3">
                      <textarea ng-model="comment.response" columns="1" md-maxlength="800" rows="3" 
                      aria-label="Comentarios" ng-blur="updateComment(comment)"></textarea>
                    </md-input-container>
                  </td>
                  <td class="text-right" style="width:20px;">
                    <select ng-if="comment.response_type==2" ng-options="type.value as type.scale for type in options" ng-model="comment.response"></select>
                  </td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-sm btn-addon deep-orange-500" ng-click="selectTab(2);">Siguiente</button>
          </div>
        </tab>
        <tab active="tabs[2].active">
          <tab-heading>
            <i class="fa fa-file-text-o"></i> RESUMEN
          </tab-heading>
          <div class="animated fadeIn">
            <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr>
                    <th>COMPETENCIA</th>
                    <th class="text-center" style="width:20px;">PREGUNTAS CONTESTADAS</th>
                    <th class="text-center" style="width:20px;">PREGUNTAS SIN CONTESTAR</th>
                    <th class="text-center" style="width:20px;">PROMEDIO</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="3" class="text-right">PROMEDIO GENERAL:</td>
                  <td class="text-center">{{totalAverage}}</td>
                </tr>
              </tfoot>
              <tbody>
                <tr ng-repeat="c in criteria">
                    <td>{{c.name}}</td>
                    <td class="text-center">{{questionsAnsweredPerCriteria(c.id)}}</td>
                    <td class="text-center">{{questionsUnAnsweredPerCriteria(c.id)}}</td>
                    <td class="text-center">{{averagePerCriteria(c.id)}}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-sm btn-addon deep-orange-500" ng-click="printReport('printableSection')">
              <i class="fa fa-print i-20 pull-left"></i>Imprimir
            </button>
          </div>
        </tab>
        <div class="pull-right">
          <a ng-click="showInstructions()" md-ink-ripple class="btn btn-sm btn-addon deep-orange-500">Instrucciones</a>
          <a ui-sref="app.evaluationevaluateds({id:evaluation.id})" md-ink-ripple class="btn btn-sm btn-addon deep-orange-500">Finalizar</a>
        </div>
      </tabset>
      <!-- END TAB PANEL-->      
    </div>
  </div>
</div>